<!--首页的图片切换展示功能-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="包含图片文章路径">
        <img class="slide-image" src="http://placehold.it/800x300"
             alt="图片信息" /></a>
      <div class="carousel-caption">
        <a style="color:red;" href="互联网金融">放心的金融平台</a>
      </div>
    </div>
    <div class="item">
      <a href="包含图片文章路径">
        <img class="slide-image"  src="http://placehold.it/800x300"
             alt="图片信息" /></a>
      <div class="carousel-caption">

        <a style="color:red;" href="互联网金融">放心的金融平台</a>

      </div>
    </div>
    <div class="item">
      <a href="包含图片文章路径">
        <img class="slide-image"  src="http://placehold.it/800x300"
             alt="图片信息" /></a>
      <div class="carousel-caption">
        <a style="color:red;" href="互联网金融">放心的金融平台</a>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
