<!--头部的导航栏-->
<nav class="navbar navbar-inverse " role="navigation">
  <div class="container .col-md-6  .col-md-offset-6 ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">融贷</a>
    </div>
    <div class="row">
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">主页</a></li>
          <li><a href="login.html">登录</a></li>
          <li><a href="register.html">注册</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>

<!--主要功能导航栏-->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="...">
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse nav-pills navbar-collapse navbar-ex1-collapse navbar-right ">
    <ul class="nav nav-pills ">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="invest.html" role="navigation">债券投资</a></li>
      <li><a href="loan.html" role="navigation">借款申请</a></li>
      <li><a href="aboutUs.html" role="navigation">关于我们</a></li>
      <li><a href="my.html" role="navigation">我的账户</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
