<!--<div class="login-page">-->
<!--<div class="row justify-content-md-center">-->
<!--<div class="col-md-4  col-md-offset-4">-->
<!--<img src="assets/images/logo.png" width="150px">-->
<!--<h1>Welcome </h1>-->
<!--<form [formGroup]="loginFormModel" (onSubmit)="onSubmit()">-->
<!--<div><input type="text" formControlName="userName" placeholder="用户名"></div>-->
<!--<div><input type="password" formControlName="password" placeholder="密码"></div>-->
<!--<div><input type="text" formControlName="verifyCode" placeholder="验证码"></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<div class="box">
  <mat-card class="login-container">
    <mat-toolbar>
      <div class="mat-toolbar-tools">
        <h2><span>Login Form</span></h2>
      </div>
    </mat-toolbar>

    <mat-card-content>
      <mat-form-field class="">
        <input matInput placeholder="用户名">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="mat-block">
        <textarea matInput placeholder="验证码"></textarea>
      </mat-form-field>

      <button mat-button>登录</button>
    </mat-card-content>
  </mat-card>
</div>
